@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  margin: 0px;
  background-color: aquamarine;
}
.header {
  text-align: center;
  font-size: 50px;
  font-family: "Anton", sans-serif;
}
.model {
  position: absolute;
  border: 1px solid white;
  border-radius: 20px;
  width: 500px;
  height: 700px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 5%);
  background-color: white;
}
